* {
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
}

.block {
    width: 600px;
    border: 2px solid grey;
    margin: 0 auto;
    margin-top: 20px;
}

#pagination {
    border: 0;
    margin-left: 46%;
}

h4 {
    text-align: center;
}

h1 {
    margin-left: 0px;
    color: olive;
}

em {
    margin-left: 45%;
}

ul {
    border: 0;
    margin: auto;
    padding: 0;
    margin-top: 30px;
}

.link {
    color: olive;
    font-weight: bold;
    font-size: large;
}

.link:hover {
    opacity: .75;
}

.blockDetail {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.blockDetail .text {
    font-size: 150%;
}

#pagination-flickr li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 23px;
    list-style: none;
}

#pagination-flickr a {
    border: solid 1px #DDDDDD;
    margin-right: 2px;
    background-color: #ff906f;
}

#pagination-flickr .active {
    background-color: #4d9caf;
    color: white;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
}

#pagination-flickr a:link,
#pagination-flickr a:visited {
    color: white;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

#pagination-flickr a:hover {
    background-color: #4d9caf;
    color: white;
}


/* === List Styles === */

.blockForm {
    width: 40%;
    margin: 0 auto;
    border:1px solid #fff;
    box-shadow: 0 0 3px #aaa;
}

.contact_form li {
    border-bottom:1px solid #e5e5e5;
}

.contact_form .inputli {
    border-bottom:0px solid #fff;
    margin-bottom: 45px;
}

.contact_form .inputli h4 {
    padding-top: 3%;
}

.contact_form input {
    font-style: italic;
    height:25px;
    padding:5px 8px;
    clear: both;
}

.contact_form textarea {
    font-style: italic;
    padding:8px;
    resize: none;
}

.contact_form button {
    margin-left:156px;
}

/* form element visual styles */
.contact_form input, .contact_form textarea {
    border:0px #fff;
    padding-right:30px;
    padding-left:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:40px;
    padding-left:40px;
}

/* === Button Style === */
button.submit {
    font: 11px Myriad, sans-serif;
    text-transform: uppercase;
    width: 110px;
    height: 30px;
    background-color: #ff8207;
    border-radius: 6px;
    border-color: #ff8207;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin: 0 auto;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
}

/* ===== TABLE ======= */
.table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
    margin-top: 5%;
}
.table_blur th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
}
.table_blur tr:nth-child(odd) {
    background: #ebf3f9;
}
.table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
}
